:root {
    --primary: #090b79;
    --secondary: #bde946;
    --dark: #1e1f35;
    --light: #999ad8;
}
   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
body {
    background-color: var(--light);
}